@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica LT Std Light";
  src: url("../../public/assets/fonts/light.otf");
}

@font-face {
  font-family: "Helvetica LT Std Bold";
  src: url("../../public/assets/fonts/bold.otf");
}

body {
  font-family: "Helvetica LT Std Light";
}
