@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica LT Std Light";
  src: url("../assets/fonts/light.otf");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica LT Std Bold";
  src: url("../assets/fonts/bold.otf");
  font-display: swap;
}

body {
  font-family: "Helvetica LT Std Light", sans-serif;
}
